@import "tailwindcss";

@font-face {
  font-family: 'AvantGardeGothicITC W05';
  src: url('/AvantGardeGothicITC W05 Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'AvantGardeGothicITC W05', Arial, Helvetica, sans-serif !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'AvantGardeGothicITC W05', Arial, Helvetica, sans-serif !important;
  margin: 0;
  font: normal 75% 'AvantGardeGothicITC W05', Arial, Helvetica, sans-serif !important;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  display: none;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
